body {
        background-color: #FFB6C1;
        font-size: 24px;
    }

.stApp {
        background-color: #90EE90;
    }

div[data-testid="stTextInput"] input {
    font-size: 24px;
    height: 40px;
}

label[data-testid="stWidgetLabel"] {
    font-size: 44px!important;
    line-height: 48px !important;
    max-height: 60px !important;
    white-space: normal !important;
    color: mediumblue;
}


section[data-testid="stSidebar"] {
    background-color: #FF00FF;
    font-size: larger;
}

#stTextInput{
    font-size: 44px;
}